<div class="container">
  <br>
  <br>
  <br>
  <h3 class="text-center mt-4">Faça parte da Rede Firgun</h3>

  <p class="text-center mt-4">Acreditamos no capitalismo consciente e na economia colaborativa como
  motores de uma sociedade mais justa e sustentável.</p>
  <br>

  <div class="col text-center mt-4">
    <a href="login"><button type="button" class="btn btn-primary text-center" id="button">Login</button></a>
  </div>
</div>
